<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IMS.WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Anasayfa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventories">
                <span class="oi oi-plus" aria-hidden="true"></span> Envanter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-plus" aria-hidden="true"></span> Ürünler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchase">
                <span class="oi oi-plus" aria-hidden="true"></span> Satın Alma
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produce">
                <span class="oi oi-plus" aria-hidden="true"></span> Üretilen Ürünler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sell">
                <span class="oi oi-plus" aria-hidden="true"></span> Satılan Ürünler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventoryreport">
                <span class="oi oi-plus" aria-hidden="true"></span> Envanter Raporu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productreport">
                <span class="oi oi-plus" aria-hidden="true"></span> Ürün Raporu
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
